src/test/resources/mule-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:spring="http://www.springframework.org/schema/beans"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
  xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.2/mule.xsd
        http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/4.0/mule-sfdc.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">

  <sfdc:config name="salesforce-default" username="${salesforce.username}"
                 password="${salesforce.password}" securityToken="${salesforce.securityToken}"/>

  <flow name="Create">
    <sfdc:create type="Opportunity">
      <sfdc:objects>
        <sfdc:object>
          <!-- <InternalAccountCode>A01596</InternalAccountCode> -->
          <Name>MuleSoft</Name>
          <CloseDate>#[groovy:Date.parse("yyyy-MM-dd", "2011-12-13")]</CloseDate>
        </sfdc:object>
      </sfdc:objects>
    </sfdc:create>
  </flow>

    <flow name="Query">
      <message-properties-transformer>
          <add-message-property key="SAVE_THIS" value="MULESOFT"/>
      </message-properties-transformer>
        <sfdc:query-single query="SELECT Name FROM Account WHERE  Name = '001'"/>
      <logger level="INFO" message="#[header:OUTBOUND:SAVE_THIS]"/>
    </flow>
</mule>
