src/test/resources/sfdc-conf.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
               http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/3.1.1/mule-sfdc.xsd
               ">
    <sfdc:config name="salesforce" username="${login}" password="${password}" securityToken="${securityKey}"/>

    <flow name="salesforceFlow">
        <inbound-endpoint address="vm://createContact" exchange-pattern="request-response"/>

        <sfdc:create>
            <sfdc:sObject type="Contact">
                <FirstName>#[map-payload:FirstName]</FirstName>
                <LastName>#[map-payload:LastName]</LastName>
                <Department>#[map-payload:Department]</Department>
                <Title>#[map-payload:Title]</Title>
                <Phone>#[map-payload:Phone]</Phone>
            </sfdc:sObject>
        </sfdc:create>
    </flow>

    <flow name="deleteFlow">
        <inbound-endpoint address="vm://deleteContact" exchange-pattern="request-response"/>

        <sfdc:delete ids="#[payload]"/>
    </flow>

    <flow name="updateFlow">
        <inbound-endpoint address="vm://updateContact" exchange-pattern="request-response"/>

        <sfdc:update>
            <sfdc:sObject type="Contact">
                <Id>#[map-payload:Id]</Id>
                <LastName>#[map-payload:LastName]</LastName>
            </sfdc:sObject>
        </sfdc:update>
    </flow>

    <flow name="queryFlow">
        <inbound-endpoint address="vm://query" exchange-pattern="request-response"/>

        <sfdc:query query="SELECT Id, Name FROM Account WHERE Name='GenePoint'" batchsize="1"/>
    </flow>

    <flow name="transformerTest">
        <inbound-endpoint address="vm://transformerTest" exchange-pattern="request-response"/>

        <sfdc:query query="SELECT Id, Name FROM Account WHERE Name='GenePoint'" batchsize="1"/>

        <sfdc:mule-sobjects-to-string-transformer/>

    </flow>


    <flow name="async">

        <sfdc:create>
            <sfdc:sObject type="Contact">
                <FirstName>#[map-payload:FirstName]</FirstName>
                <LastName>#[map-payload:LastName]</LastName>
                <Department>#[map-payload:Department]</Department>
                <Title>#[map-payload:Title]</Title>
                <Phone>#[map-payload:Phone]</Phone>
            </sfdc:sObject>
        </sfdc:create>
    </flow>


</mule>
