src/test/resources/sfdc-conf.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/salesforce"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
               http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/3.1/mule-salesforce.xsd
               ">
    <sfdc:config name="salesforce" username="${login}" password="${password}" securityToken="${securityKey}"/>

    <flow name="salesforceFlow">
        <inbound-endpoint address="vm://createContact" exchange-pattern="request-response"/>

        <sfdc:create type="Contact">
            <sfdc:sObject>
                <sfdc:field key="FirstName" value="#[map-payload:FirstName]"/>
                <sfdc:field key="LastName" value="#[map-payload:LastName]"/>
                <sfdc:field key="Department" value="#[map-payload:Department]"/>
                <sfdc:field key="Title" value="#[map-payload:Title]"/>
                <sfdc:field key="Phone" value="#[map-payload:Phone]"/>
            </sfdc:sObject>
        </sfdc:create>
    </flow>

    <flow name="deleteFlow">
        <inbound-endpoint address="vm://deleteContact" exchange-pattern="request-response"/>

        <sfdc:delete ids="#[payload]"/>
    </flow>

    <flow name="updateFlow">
        <inbound-endpoint address="vm://updateContact" exchange-pattern="request-response"/>

        <sfdc:update type="Contact">
            <sfdc:sObject>
                 <sfdc:field key="Id" value="#[map-payload:Id]"/>
                 <sfdc:field key="LastName" value="#[map-payload:LastName]"/>
            </sfdc:sObject>
        </sfdc:update>
    </flow>

    <flow name="queryFlow">
        <inbound-endpoint address="vm://query" exchange-pattern="request-response"/>

        <sfdc:query query="SELECT Id, Name FROM Account WHERE Name='GenePoint'" batchsize="1"/>
    </flow>

    <flow name="transformerTest">
        <inbound-endpoint address="vm://transformerTest" exchange-pattern="request-response"/>

        <sfdc:query query="SELECT Id, Name, Phone FROM Account WHERE Name='GenePoint'" batchsize="1"/>

        <sfdc:mule-sobjects-to-string-transformer/>

    </flow>


    <flow name="async">

        <sfdc:create type="Contact">
            <sfdc:sObject>
                <sfdc:field key="FirstName" value="#[map-payload:FirstName]"/>
                <sfdc:field key="LastName" value="#[map-payload:LastName]"/>
                <sfdc:field key="Department" value="#[map-payload:Department]"/>
                <sfdc:field key="Title" value="#[map-payload:Title]"/>
                <sfdc:field key="Phone" value="#[map-payload:Phone]"/>
            </sfdc:sObject>
        </sfdc:create>
    </flow>

    <flow name="setPasswordFlow">
        <inbound-endpoint address="vm://setPassword" exchange-pattern="request-response"/>
        <sfdc:set-password userId="1234" password="muleftw"/>
    </flow>
</mule>
