src/test/resources/test-config.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:sfdc="http://www.mulesoft.org/schema/mule/sfdc"
      xsi:schemaLocation="
               http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/3.1/mule.xsd
               http://www.mulesoft.org/schema/mule/sfdc http://www.mulesoft.org/schema/mule/sfdc/1.0/mule-sfdc.xsd
               ">

    <sfdc:config name="salesforce" username="emiliano.lesende@mule.stream" password="muleftw1wZqr0qZsR4zInbg7hesSBHsLA"/>

    <flow name="publishTopicFlow">
        <sfdc:publish-topic name="FreshbooksStream" query="
            SELECT Id,AccountId,Email,FirstName,LastName,HomePhone,MobilePhone
                FROM Contact"/>
    </flow>

    <!--
    <flow name="subscribeTopicFlow">
        <sfdc:subscribe-topic topic="/NewsFeedStream"/>
        <logger level="INFO" message="#[payload]"/>
    </flow>
    -->
</mule>
